.header {
    position: sticky;
    top: 0;
    z-index: 10;

    // .header__container

    &__container {
    }

    // .header__body

    &__body {
    }

    // .header__top

    &__top {
        padding: 15px 0;
        background-color: $white;

        // .header__top-flex

        &-flex {
            display: grid;
            grid-template-columns: 1fr auto 1fr;

            @media (max-width: 1024px) {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
            }
        }

        // .header__top-left

        &-left {
            display: flex;
            align-items: center;
            gap: 30px;

            @media (max-width: 1200px) {
                gap: 15px;
            }

            div {
                display: flex;
                align-items: center;
                gap: 20px;

                @media (max-width: 1200px) {
                    gap: 10px;
                }

                @media (max-width: 1024px) {
                    display: none;
                    gap: 20px;
                }

                font-size: 14px;

                a {
                    color: $accent;
                }
            }
        }

        // .header__top-logo

        &-logo {
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                width: 194px;
                fill: currentColor;

                transition: fill 0.3s ease 0s;

                @media (max-width: 1024px) {
                    width: 180px;
                }
            }
        }

        // .header__top-right

        &-right {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            @include adaptive-value("gap", 50, 0, 1);

            @media (max-width: 1024px) {
                display: none;
            }

            a {
                font-size: 20px;
                font-weight: 700;
            }

            button {
                padding: 14px 20px;
                border-radius: 5px;
            }
        }
    }

    // .header__burger

    &__burger {
        display: none;

        @media (max-width: 1024px) {
            display: block;
        }

        width: 36px;
        height: 36px;
        border-radius: 3px;
        position: relative;
        border: 1px solid currentColor;

        transition: all 0.3s ease 0s;

        span {
            display: block;
            background-color: currentColor;
            width: 23px;

            height: 1.5px;
            border-radius: 100px;

            position: absolute;
            top: 50%;
            left: 50%;

            transition: all 0.3s ease 0s;

            &:first-child {
                transform: translate(-50%, -7.5px);
            }

            &:nth-child(2) {
                transform: translate(-50%, -50%);
                max-width: 100%;
            }

            &:nth-child(3) {
                transform: translate(-50%, 6px);
            }
        }

        &._active {
            background-color: $accent;
            color: $white;

            span {
                &:first-child {
                    transform: translate(-50%, -50%) rotate(45deg);
                }

                &:nth-child(2) {
                    max-width: 0;
                }

                &:nth-child(3) {
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
            }
        }
    }

    // .header__bottom

    &__bottom {
        background-color: #f7f6f3;

        // .header__bottom-body

        &-body {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        // .header__bottom-phone

        &-phone {
            display: none;
            font-weight: 700;
            margin-left: auto;
            margin-right: 20px;

            @media (max-width: 1024px) {
                display: block;
            }
        }

        nav {
            padding: 20px 50px;
            flex: 1 1 auto;

            @media (max-width: 1200px) {
                padding: 20px 30px;
            }

            @media (max-width: 1024px) {
                display: none;
            }

            ul {
                display: flex;
                gap: 10px;
                justify-content: space-around;

                li {
                    flex: 1 1 auto;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    gap: 10px;

                    &:not(:last-child) {
                        &:after {
                            content: "";
                            display: block;
                            height: 100%;
                            width: 1px;
                            flex: 0 0 auto;
                            background-color: #e2dddd;
                        }
                    }
                }

                a {
                }
            }
        }
    }

    // .header__catalog

    &__catalog {
        position: relative;
        padding: 20px;
        color: $white;
        font-size: 17px;
        background-color: $accent;
        transition: all 0.3s ease 0s;

        flex: 1 1 200px;
        max-width: 200px;

        @media (max-width: 1024px) {
            padding: 13px;
            margin-left: -16px;
        }

        @media (max-width: 768px) {
            max-width: 150px;
        }

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        span {
            pointer-events: none;
        }

        & > :first-child {
            position: relative;
            z-index: 1;
        }

        & > :last-child {
            display: block;
            &:after {
                display: block;
                content: "";
                left: 0;
                top: 0;
                width: 1em;
                height: 1em;
                flex: 0 0 auto;
                pointer-events: none;

                background-image: url("@img/icons/catalog.svg");
                background-repeat: no-repeat;
                background-size: contain;
            }
        }

        @media (any-hover: hover) {
            &:hover:before {
                background-color: #641a0b;
            }
        }

        &._active {
            & > :last-child:after {
                background-image: url("@img/icons/close.svg");
            }

            background-color: #641a0b;
        }
    }

    // .header__search

    &__search {
        svg {
            width: 20px;
            height: 20px;
            stroke: currentColor;
            pointer-events: none;
        }
    }
}
