.catalog-menu {
    position: fixed;
    top: 138px;
    left: 0;
    width: 100%;
    max-height: calc(100% - 138px);
    z-index: 10;

    background-color: #fafafa;
    padding: 45px 0 65px 0;

    @media (max-width: 1024px) {
        top: 112px;
        max-height: calc(100% - 112px);
        overflow-y: auto;
    }

    opacity: 0;
    pointer-events: none;
    transform: translate(0, 20px);

    transition:
        opacity 0.3s ease 0s,
        transform 0.3s ease 0s;

    &._open {
        transform: translate(0, 0);
        opacity: 1;
        pointer-events: all;
    }

    // .catalog-menu__container

    &__container {
    }

    // .catalog-menu__body

    &__body {
    }

    nav {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        margin-bottom: 50px;

        @media (max-width: 1024px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 60px 20px;
        }

        @media (max-width: 768px) {
            display: block;

            & > :not(:last-child) {
                margin-bottom: 24px;
            }
        }

        h4 {
            margin-bottom: 22px;
            color: $accent;

            @include adaptive-value("font-size", 20, 16, 1);
        }

        ul {
            & > :not(:last-child) {
                margin-bottom: 12px;
            }

            a {
                color: $gray;
            }
        }
    }

    // .catalog-menu__price

    &__price {
        display: block;
        margin-left: auto;
        border-radius: 5px;
        background-color: $accent;
        color: $white;
        max-width: 310px;
        padding: 25px;

        @media (max-width: 1024px) {
            margin-left: 0;
        }

        @media (max-width: 768px) {
            max-width: none;
        }

        transition:  background-color 0.3s ease 0s;

        @media (any-hover: hover) {
            &:hover {
                background-color: #641a0b;
            }
        }

        h3 {
            @include adaptive-value("font-size", 20, 18, 1);
        }

        p {
            font-size: 14px;
            margin-top: 20px;
            margin-bottom: 10px;
            max-width: 190px;

            @media (max-width: 768px) {
                max-width: none;
            }
        }

        .icon {
            margin-left: auto;
            width: 36px;
            height: 36px;
            border-radius: 5px;

            display: flex;
            align-items: center;
            justify-content: center;

            border: 1px solid currentColor;

            img,
            svg {
                width: 10px;
                flex: 0 0 auto;
                stroke: currentColor;
            }
        }
    }
}

.menu {
    position: fixed;
    left: 0;
    top: 112px;
    z-index: 10;

    width: 100%;
    max-height: calc(100% - 112px);

    background-color: #fafafa;
    padding: 45px 0 65px 0;

    overflow-y: auto;

    pointer-events: none;
    transform: translate(100%, 0);

    transition: transform 0.3s ease 0s;

    &._open {
        transform: translate(0, 0);
        pointer-events: all;
    }

    // .menu__container

    &__container {
    }

    // .menu__body

    &__body {
    }

    nav {
        ul {
            & > :not(:last-child) {
                margin-bottom: 20px;
            }

            a {
                font-size: 18px;
                color: $gray;
            }
        }
    }

    // .menu__bottom

    &__bottom {
        border-top: 1px solid #ebebeb;
        margin-top: 30px;
        padding-top: 30px;

        a,
        p {
            font-size: 18px;
        }

        a {
            color: $accent;
            display: block;
            margin-bottom: 1em;
        }

        p {
            color: $gray;
        }

        ._btn {
            width: 100%;
            margin-top: 40px;
        }
    }
}

.search-popup {
    position: fixed;
    z-index: 11;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #f7f6f3;

    @include adaptive-value("padding-top", 100, 60, 1);

    opacity: 0;
    pointer-events: none;
    transform: translate(0, 20px);

    transition:
        opacity 0.3s ease 0s,
        transform 0.3s ease 0s;

    &._open {
        transform: translate(0, 0);
        opacity: 1;
        pointer-events: all;
    }

    // .search-popup__container

    &__container {
        max-width: 860px;
    }

    // .search-popup__body

    &__body {
    }

    // .search-popup__close

    &__close {
        margin-left: auto;
        width: 30px;
        height: 30px;
        margin-bottom: 10px;

        transform: translate(100%, 0);

        @media (max-width: 768px) {
            transform: translate(10px, 0);
        }

        svg {
            width: 20px;
            height: 20px;
            stroke: $black;
        }
    }

    form {
        width: 100%;
        height: 70px;
        color: $gray;
        border-radius: 5px;
        overflow: hidden;

        display: flex;

        @media (max-width: 768px) {
            height: 60px;
        }

        div {
            height: 100%;
            flex: 1 1 auto;
            display: flex;
            align-items: center;
            gap: 15px;
            padding: 25px;

            @media (max-width: 768px) {
                padding: 20px;
            }

            svg {
                flex: 0 0 auto;
                width: 20px;
                height: 20px;
                stroke: currentColor;
            }

            background-color: #eeede7;
        }

        input {
            flex: 1 1 auto;
        }

        button {
            height: 100%;
            width: 150px;
            background-color: $accent;
            color: $white;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;

            @media (max-width: 768px) {
                width: 85px;
                padding: 20px;
            }
        }

        svg {
        }
    }
}
