.cat-grid__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fbfbfb;
    border-radius: 5px;

    @include adaptive-value("gap", 40, 20, 1);

    font-weight: 600;
    text-align: center;

    @include adaptive-value("font-size", 20, 16, 1);
    @include adaptive-value("padding-top", 40, 15, 1);

    padding-inline: 20px;
    min-height: 308px;

    @media (max-width: 768px) {
        padding-inline: 15px;
        min-height: 200px;
    }

    .img {
        width: 100%;
        max-width: 200px;

        display: flex;
        flex-direction: column;

        img,
        picture {
            flex: 0 0 auto;
            width: 100%;
        }
    }
}

.service-item {
    border-radius: 5px;
    overflow: hidden;
    height: 360px;
    position: relative;

    @include adaptive-value("padding-top", 65, 30, 1);
    @include adaptive-value("padding-inline", 50, 30, 1);
    padding-bottom: 30px;

    @media (any-hover: hover) {
        &:hover {
            div {
                transform: translate(0, 0);
            }
        }
    }

    @media (max-width: 768px) {
        height: 340px;
        padding-bottom: 40px;
    }

    div {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        transform: translate(0, 75%);
        transition: all 0.3s ease 0s;

        @media (max-width: 768px) {
            transform: translate(0, 90%);
        }
    }

    h3 {
        font-size: 22px;
        font-weight: 600;
        text-align: center;
        color: $white;
    }

    h3,
    ._btn {
        position: relative;
        z-index: 1;
    }

    img {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(19, 14, 7, 0.59) 19.88%, rgba(255, 255, 255, 0) 67.73%);
    }
}

.advantage-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 20px 0 20px;
    counter-increment: advcount;

    @media (max-width: 768px) {
        padding: 20px 0 0 0;
        width: calc(50% - 30px);
        flex: 0 0 auto;
    }

    .icon {
        width: 102px;
        height: 102px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: #f8f6f2;

        @include adaptive-value("margin-bottom", 50, 20, 1);

        @media (max-width: 768px) {
            width: 82px;
            height: 82px;
        }

        img,
        svg {
            width: 45px;

            @media (max-width: 768px) {
                width: 35px;
            }
        }

        &:before {
            position: absolute;
            content: counter(advcount);
            left: 100%;
            top: 0;
            transform: translate(0, -50%);
            width: 25px;
            height: 25px;

            background-color: $accent;
            color: $white;
            border-radius: 50%;

            font-size: 12px;
            font-weight: 600;
            line-height: 1;

            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    }

    h4 {
        flex: 1 1 auto;
        max-width: 200px;

        @include adaptive-value("margin-bottom", 30, 15, 1);

        @media (max-width: 768px) {
            flex: unset;
            padding: 0 8px;
        }
    }

    p {
        @include adaptive-value("font-size", 17, 15, 1);
        color: #5b5b5b;
        max-width: 230px;
    }
}

.gallery-item {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 5px;

    padding-bottom: 60%;

    @media (min-width: 769px) {
        &:first-child {
            grid-row: span 2;
        }

        &:nth-child(5) {
            grid-row: span 2;
        }
    }

    @media (max-width: 768px) {
        height: 340px;
    }

    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;

        transition: transform 0.3s ease 0s;
    }

    @media (any-hover: hover) {
        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }
}

.beenfit-item {
    border-top: 1px solid #d7d7d7;
    text-align: center;

    @include adaptive-value("padding", 60, 35, 1);

    @media (max-width: 768px) {
        border-top: 0;

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            padding-bottom: 0;
        }
    }

    &:not(:last-child) {
        border-right: 1px solid #d7d7d7;

        @media (max-width: 768px) {
            border-right: 0;
            border-bottom: 1px solid #d7d7d7;
        }
    }

    span {
        display: block;
        @include adaptive-value("font-size", 60, 40, 1);
        margin-bottom: 20px;
        font-weight: 600;
        color: $accent;
    }

    p {
        @include adaptive-value("font-size", 20, 16, 1);
        color: #5b5b5b;
    }
}
