.cat-grid__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fbfbfb;
    border-radius: 5px;

    @include adaptive-value("gap", 40, 20, 1);

    font-weight: 600;
    text-align: center;

    @include adaptive-value("font-size", 20, 16, 1);
    @include adaptive-value("padding-top", 40, 15, 1);

    padding-inline: 20px;
    min-height: 308px;

    @media (max-width: 768px) {
        padding-inline: 15px;
        min-height: 200px;
    }

    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
        &:hover {
            color: $white;
            background-color: #a09590;

            &:nth-child(2) {
                background-color: #826042;
            }

            &:nth-child(3) {
                background-color: $accent;
            }

            &:nth-child(4) {
                background-color: #757575;
            }
        }
    }

    .img {
        width: 100%;
        max-width: 200px;

        display: flex;
        flex-direction: column;

        img,
        picture {
            flex: 0 0 auto;
            width: 100%;
        }
    }
}

.service-item {
    border-radius: 5px;
    overflow: hidden;
    height: 360px;
    position: relative;

    @include adaptive-value("padding-top", 65, 30, 1);
    @include adaptive-value("padding-inline", 50, 30, 1);
    padding-bottom: 30px;

    @media (any-hover: hover) {
        &:hover {
            div {
                transform: translate(0, 0);
            }
        }
    }

    @media (max-width: 768px) {
        height: 340px;
        padding-bottom: 40px;
    }

    div {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        transform: translate(0, 75%);
        transition: all 0.3s ease 0s;

        @media (max-width: 768px) {
            transform: translate(0, 90%);
        }
    }

    h3 {
        font-size: 22px;
        font-weight: 600;
        text-align: center;
        color: $white;
    }

    h3,
    ._btn {
        position: relative;
        z-index: 1;
        width: 100%;
    }

    img {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(19, 14, 7, 0.59) 19.88%, rgba(255, 255, 255, 0) 67.73%);
    }
}

.advantage-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 20px 0 20px;
    counter-increment: advcount;

    @media (max-width: 768px) {
        padding: 20px 0 0 0;
        width: calc(50% - 30px);
        flex: 0 0 auto;
    }

    .icon {
        width: 102px;
        height: 102px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: #f8f6f2;

        @include adaptive-value("margin-bottom", 50, 20, 1);

        @media (max-width: 768px) {
            width: 82px;
            height: 82px;
        }

        img,
        svg {
            width: 45px;

            @media (max-width: 768px) {
                width: 35px;
            }
        }

        &:before {
            position: absolute;
            content: counter(advcount);
            left: 100%;
            top: 0;
            transform: translate(0, -50%);
            width: 25px;
            height: 25px;

            background-color: $accent;
            color: $white;
            border-radius: 50%;

            font-size: 12px;
            font-weight: 600;
            line-height: 1;

            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    }

    h4 {
        flex: 1 1 auto;
        max-width: 200px;

        @include adaptive-value("margin-bottom", 30, 15, 1);

        @media (max-width: 768px) {
            flex: unset;
        }
    }

    p {
        @include adaptive-value("font-size", 17, 15, 1);
        color: #5b5b5b;
        max-width: 230px;
    }
}

.gallery-item {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 5px;

    padding-bottom: 60%;

    @media (min-width: 769px) {
        &:nth-child(7n + 1) {
            grid-row: span 2;
        }

        &:nth-child(7n - 2) {
            grid-row: span 2;
        }
    }

    @media (max-width: 768px) {
        height: 340px;
    }

    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;

        transition: transform 0.3s ease 0s;
    }

    @media (any-hover: hover) {
        &:hover {
            img {
                transform: scale(1.1);
            }

            &:before {
                opacity: 1;
            }
        }
    }

    &:before {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: $accent, $alpha: 0.5);
        opacity: 0;
        transition: opacity 0.3s ease 0s;
        pointer-events: none;
        z-index: 1;
    }
}

.why-item {
    border-top: 1px solid #d7d7d7;
    text-align: center;

    @include adaptive-value("padding", 60, 35, 1);

    @media (max-width: 768px) {
        border-top: 0;

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            padding-bottom: 0;
        }
    }

    &:not(:last-child) {
        border-right: 1px solid #d7d7d7;

        @media (max-width: 768px) {
            border-right: 0;
            border-bottom: 1px solid #d7d7d7;
        }
    }

    span {
        display: block;
        @include adaptive-value("font-size", 60, 40, 1);
        margin-bottom: 20px;
        font-weight: 600;
        color: $accent;
    }

    p {
        @include adaptive-value("font-size", 20, 16, 1);
        color: #5b5b5b;
    }
}

.category-item {
    font-size: 14px;
    color: $gray;
    text-align: center;

    transition: color 0.3s ease 0s;

    @media (any-hover: hover) {
        &:hover {
            img {
                transform: scale(1.1);
            }
            color: $accent;
        }
    }

    .img {
        border-radius: 5px;
        overflow: hidden;

        position: relative;
        padding-bottom: 100%;
        margin-bottom: 20px;

        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;

            transition: transform 0.3s ease 0s;
        }
    }
}

.benefit-item {
    display: flex;
    align-items: center;
    gap: 20px;

    height: 85px;
    border-radius: 5px;
    border-left: 4px solid #e8e6e1;
    background-color: #f7f6f3;

    @include adaptive-value("padding", 30, 10, 1);

    color: $accent;
    @include adaptive-value("font-size", 18, 14, 1);
    font-weight: 600;

    @media (max-width: 768px) {
        gap: 10px;
        height: 60px;
    }

    .icon {
        width: 20px;
        height: 20px;
        flex: 0 0 auto;

        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: currentColor;

        img,
        svg {
            width: 12px;
            flex: 0 0 auto;
            fill: $white;
        }
    }
}

.gallery-elem {
    font-size: 16px;
    color: $gray;
    text-align: center;

    transition: color 0.3s ease 0s;

    @media (max-width: 768px) {
        font-size: 14px;
    }

    @media (any-hover: hover) {
        &:hover {
            img {
                transform: scale(1.1);
            }

            color: $accent;

            .img:before {
                opacity: 1;
            }
        }
    }

    .img {
        border-radius: 5px;
        overflow: hidden;

        position: relative;
        padding-bottom: 66%;
        margin-bottom: 20px;

        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;

            transition: transform 0.3s ease 0s;
        }

        &:before {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: $accent, $alpha: 0.5);
            opacity: 0;
            transition: opacity 0.3s ease 0s;
            pointer-events: none;
            z-index: 1;
        }
    }
}

.work-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 20px;

    @media (max-width: 768px) {
        gap: 20px 8px;
    }

    a {
        overflow: hidden;
        border-radius: 5px;

        @media (any-hover: hover) {
            &:hover {
                img {
                    transform: scale(1.1);
                }
            }
        }

        position: relative;
        padding-bottom: 120%;

        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;

            transition: transform 0.3s ease 0s;
        }

        span {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translate(-50%, 0);

            color: $white;
            padding: 0.5em 1em;
            border-radius: 5px;

            @media (max-width: 768px) {
                font-size: 14px;
            }

            &.before {
                background-color: $accent;
            }

            &.after {
                background-color: #4caf50;
            }
        }
    }

    p {
        text-align: center;
        color: gray;
        grid-column: span 2;
    }
}

.map-contacts__item {
    display: flex;
    align-items: center;
    gap: 20px;

    @media (any-hover: hover) {
        &:hover {
            .icon {
                background-color: $accent;
                color: $white;
            }

            span {
                color: $accent;
            }
        }
    }

    .icon {
        width: 60px;
        height: 60px;
        flex: 0 0 auto;
        background-color: $white;
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: $white;

        transition: all 0.3s ease 0s;

        @media (max-width: 1024px) {
            width: 45px;
            height: 45px;
        }

        img,
        svg {
            width: 17px;
            height: 17px;
            flex: 0 0 auto;
            fill: currentColor;

            @media (max-width: 1024px) {
                width: 15px;
                height: 15px;
            }
        }
    }

    label {
        display: block;
        margin-bottom: 12px;
        font-size: 14px;
        color: $gray;

        @media (max-width: 1024px) {
            margin-bottom: 6px;
        }
    }

    span {
        transition: color 0.3s ease 0s;
    }

    .phone {
        font-weight: 700;
    }
}
