.section {
    @include adaptive-value("margin-bottom", 100, 60, 1);

    // .section__container

    &__container {
    }

    // .section__body

    &__body {
    }

    // .section__top _center

    &__top {
        @include adaptive-value("margin-bottom", 42, 30, 1);

        &._center {
            text-align: center;
        }

        &:has(.icon) {
            display: flex;
            align-items: center;
            gap: 30px;

            @media (max-width: 768px) {
                gap: 15px;
            }
        }

        .icon {
            width: 50px;

            @media (max-width: 768px) {
                width: 40px;
            }

            img,
            picture {
                height: auto;
            }
        }
    }
}
.cat {
    // .cat-grid

    &-grid {
    }
}

.services {
}

.advantages {
    .grid {
        @media (max-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 30px 60px;
        }
    }
}

.gallery {
}

.why {
    .grid {
        gap: 0;

        @media (max-width: 768px) {
            display: block;
        }
    }
}

.contacts {
    background-image: url("@img/contact-bgi.png");
    background-size: cover;
    background-repeat: no-repeat;

    padding: 45px 0 50px 0;

    @media (max-width: 1024px) {
        padding: 25px 0 45px 0;
    }

    // .contacts__container

    &__container {
    }

    // .contacts__body

    &__body {
        gap: 30px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 1024px) {
            flex-direction: column-reverse;
            justify-content: flex-end;
            gap: 15px;

            padding: 30px 20px 45px 20px;
            border-radius: 10px;
            background-color: $white;
        }
    }

    .form {
        @media (min-width: 1025px) {
            padding: 40px;
            border-radius: 10px;
            background-color: $white;

            width: 49%;
        }
    }

    .img {
        width: 45%;
    }
}

.benefits {
    .grid {
        @media (max-width: 768px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

.price-list {
    ol {
        & > :first-child {
            border-top: 1px solid #e2e2e2;
        }

        li {
            padding: 20px 0;
            border-bottom: 1px solid #e2e2e2;

            display: flex;
            justify-content: space-between;
            gap: 20px;

            @media (max-width: 768px) {
                padding: 15px 0;
            }

            & > :first-child {
                font-size: 18px;
                max-width: 660px;

                @media (max-width: 768px) {
                    font-size: 14px;
                }
            }

            & > :last-child {
                flex: 0 0 auto;
                color: $accent;
                font-weight: 700;

                @media (max-width: 768px) {
                    font-size: 14px;
                }
            }
        }
    }

    // .price-list__item

    &__item {
        &:first-child {
            margin-top: 30px;

            @media (max-width: 1024px) {
                margin-top: 50px;
            }
        }

        &:not(:last-child) {
            margin-bottom: 50px;
        }

        &:last-child {
            @media (max-width: 1024px) {
                margin-bottom: 60px;
            }
        }
    }
}

.gallery-page {
    .gallery-elem {
        color: $black;
    }

    .grid {
    }
}

.gallery-archive-page {
    .gallery-elem .img img {
        height: 365px;
        object-fit: cover;
    }
}

.gallery-single-page {
    .grid {
        @include adaptive-value("row-gap", 70, 30, 1);
    }

    .gallery-item {
        @media (any-hover: hover) {
            &:hover {
                span {
                    color: $accent;
                }

                .img:before {
                    opacity: 1;
                }
            }
        }

        &:before {
            display: none;
        }

        .img {
            flex: 1 1 auto;
            overflow: hidden;
            position: relative;
            border-radius: 5px;

            &:before {
                position: absolute;
                content: "";
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba($color: $accent, $alpha: 0.5);
                opacity: 0;
                transition: opacity 0.3s ease 0s;
                pointer-events: none;
                z-index: 1;
            }
        }

        span {
            color: $gray;
            text-align: center;
            margin-top: 20px;

            transition: color 0.3s ease 0s;
        }
    }
}

.variant-page {
    .gallery-elem .img {
        position: relative;
        padding-bottom: 70%;

        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .gallery-elem h4 {
        @include adaptive-value("font-size", 16, 16, 1);
    }
}

.text-page {
    // .text-page__flex

    &__flex {
        display: flex;
        justify-content: space-between;
        gap: 25px;

        @media (max-width: 1024px) {
            flex-direction: column-reverse;
            justify-content: flex-end;
            gap: 45px;
        }
    }

    // .text-page__content

    &__content {
        @media (min-width: 1025px) {
            flex: 1 1 auto;
            max-width: 745px;
        }

        .price-list {
            margin-top: 60px;
        }

        ._container {
            padding: 0;
        }
    }

    .image {
        @media (min-width: 1025px) {
            width: 400px;
            flex: 0 0 auto;
        }

        picture,
        img {
            height: auto;
            border-radius: 5px;
            object-fit: cover;
        }
    }

    &.text-page__top {
        .text-page__content {
            max-width: none;
        }
    }
}

.works {
    .grid {
        column-gap: 60px;

        @media (max-width: 1200px) {
            column-gap: 40px;
        }
    }
}

.map {
    margin-top: 40px;
    background-color: #f7f6f3;

    @media (min-width: 1025px) {
        display: flex;
        border-radius: 5px;
        overflow: hidden;
    }

    @media (max-width: 1024px) {
        width: 100vw;
        margin-left: -16px;
    }

    // .map-contacts

    &-contacts {
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        padding: 40px;

        & > :not(:last-child) {
            margin-bottom: 20px;

            @media (max-width: 1024px) {
                margin-bottom: 25px;
            }
        }

        @media (max-width: 1024px) {
            width: 100%;
            padding: 25px 20px 40px 20px;
        }
    }

    // .map-iframe

    &-iframe {
        @media (min-width: 1025px) {
            width: 65%;
            height: 100%;
        }

        iframe {
            min-height: 428px;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;

            @media (max-width: 1024px) {
                min-height: unset;
                height: 428px;
            }

            @media (max-width: 768px) {
                height: 350px;
            }
        }
    }

    .text-box {
    }
}

.map-section {
    @media (max-width: 1024px) {
        margin-bottom: 0 !important;
    }
}

.error-404 {
    padding-top: 100px;

    text-align: center;

    a {
        margin-top: 30px;
        margin-inline: auto;
    }
}

.search-results {
    // search-results__items

    &__items {
        & > :not(:last-child) {
            margin-bottom: 1em;
        }

        a {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            padding-bottom: 0.5em;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);

            & > :first-child {
                @include adaptive-value("font-size", 20, 16, 1);
            }

            & > :last-child {
                @include adaptive-value("font-size", 16, 12, 1);
            }
        }
    }

    .empty {
        @include adaptive-value("font-size", 20, 16, 1);

        span {
            color: #802a18;
            font-weight: 600;
        }
    }
}

.photo-gallery:has(button._more) {
    &:not(._active) {
        .grid {
            & > :nth-child(n + 7) {
                display: none;
            }
        }
    }
}
