.table {
    // .table-wrapper

    &-wrapper {
        & + ._btn {
            margin-top: 50px;
            margin-inline: auto;

            @media (max-width: 768px) {
                margin-top: 25px;
                width: 100%;
            }
        }

        @media (max-width: 768px) {
            width: 100vw;
            padding-inline: 16px;
            margin-left: -16px;

            overflow-x: auto;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    table {
        width: 100%;
        border-collapse: collapse;

        @media (max-width: 768px) {
            min-width: 600px;
        }

        thead {
            font-weight: 600;
            color: #363535;
            text-transform: uppercase;
        }
        th {
            background-color: #f8f6f2;
        }

        td {
            border-bottom: 1px solid #e2e2e2;
        }

        td,
        th {
            padding: 30px;

            @media (max-width: 768px) {
                font-size: 13px;
                padding: 15px;
            }

            text-align: center;

            &:first-child {
                text-align: left;
            }

            &:last-child {
                text-align: right;
            }
        }
    }
}
